@import url('https://fonts.googleapis.com/css2?family=Anta&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    font-family: 'Monserrat', 'Courier New', Courier, monospace;
    --main-white: #FEFDFF;
    --secondary-gray: #C1BFB5;
    --main-orange: #EB4511;
    --secondary-marroon: #B02E0C;
    --thrid-blue: #8EB1C7;
}

body {
    margin: 0;
    height: 100vh;

    > button, select, img {
        cursor: pointer;
    }

    > header {
        height: 80px;
        background-color: var(--thrid-blue);
        border-bottom: solid 2px var(--secondary-gray);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        color: var(--main-white);
    }

    > .main-container {
        display: flex;
        height: calc(100% - 80px - 50px);

        > .projects {
            width: 20vw;
            padding: 40px;
            border-right: 2px solid var(--secondary-gray);
            overflow: scroll;

            > .project-list {
                display: grid;
                grid-template-rows: repeat(auto-fill, 50px);
                padding-top: 10px;

                > .input-project {
                    padding: 10px 0 10px 0;
                    display: flex;
                    justify-content: center;
                    gap: 10px;

                    > button {
                        cursor: pointer;
                    }
                }

                > .project-item {
                    font-size: 1.1rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 10px 0 10px 0;

                    > img {
                        height: 20px;
                        margin-left: 20px;
                    }

                    > img:hover {
                        border: 1px solid var(--secondary-gray);
                        border-radius: 5px;
                        padding: 1px;
                    }
                }
    
                > .project-item:hover {
                    color: var(--thrid-blue);
                    cursor: pointer;
                }
            }

            > .new-project {
                border-bottom: 1px solid var(--secondary-gray);
                padding-bottom: 20px;

                > .add-button {
                    background-color: transparent;
                    color: black;
                    font-size: 1.2rem;
                    border: 1px solid var(--secondary-gray);
                    font-family: 'Monserrat', 'Courier New', Courier, monospace;
                    border-radius: 5px;
                }

                > .add-button:hover {
                    color: var(--thrid-blue);
                    cursor: pointer;
                }

                > .project-item {
                    font-size: 1.1rem;
                }
    
                > .project-item:hover {
                    color: var(--thrid-blue);
                    cursor: pointer;
                }
            }
        }

        > .list {
            padding: 40px;
            width: 80vw;
            overflow: scroll;

            > .new-task {
                border-bottom: 1px solid var(--secondary-gray);
                padding-bottom: 20px;

                > .add-button {
                    background-color: transparent;
                    color: black;
                    font-size: 1.2rem;
                    border: 1px solid var(--secondary-gray);
                    font-family: 'Monserrat', 'Courier New', Courier, monospace;
                    border-radius: 5px;
                }

                > .add-button:hover {
                    color: var(--thrid-blue);
                    cursor: pointer;
                }
            }

            > .task-list {
                display: grid;
                grid-template-rows: repeat(auto-fill, 50px);
                align-items: center;
                padding-top: 10px;

                > .task-form {
                    display: grid;
                    grid-template-columns: 2fr 4fr 1fr 1fr 1fr 0.5fr 0.5fr;
                    gap: 10px;
                    padding: 10px 0 10px 0;

                    > button {
                        cursor: pointer;
                    }
                }

                > .task {
                    display: grid;
                    grid-template-columns: 2fr 4fr 1fr 1fr 1fr 1fr 1fr 1fr;
                    gap: 10px;
                    padding: 10px 0 10px 0px;
                    justify-content: center;
                    align-items: center;
    
                    > .checkbox {
                        height: 20px;
                        justify-self: center;
                    }
    
                    > img {
                        height: 20px;
                        justify-self: center;
                    }
    
                    > img:hover {
                        border: 1px solid var(--secondary-gray);
                        border-radius: 5px;
                        padding: 1px;
                    }
                }
            }
        }
    }

    > footer {
        position: absolute;
        bottom: 0;
        height: 50px;
        width: 100vw;
        background-color: var(--thrid-blue);
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: solid 2px var(--secondary-gray);
        color: var(--main-white);
    }
}